.order{
    padding:40px;
    margin: 20px 0px;
    border:2px solid gray;
    background-color: white;
    position:relative;
    border-radius: 20px;
}
.order_id{
    position:absolute;
    top:40px;
    right: 20px;
}
.order_total{
    text-align: right;
    font-weight:400;
}