.login__logo{
    object-fit: contain;
    margin : 50px auto;
    width:18%;
    display: flex;
    align-items: center;
    
}
.login__container{
    height:80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__container >div> h6{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.login__form{
    width:300px;
    border: 2px solid rgb(205, 201, 201);
    border-radius: 4px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
}
.login__form > h1{
    margin:20px;
    font-weight: 500;
    text-align: center;

}
.login__form > h5{
    margin: 5px 0px;
}
.login__form > input{
    height:30px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    border:1px solid;
    padding: 5px;
}
.login__form > span{
    font-size: 12px;
    margin-top: 15px;
}

.login__button{
    width: 100%;
    border:none;
    border-radius: 6px;
    background-color: #f0c14b;
    padding: 5px;
    height:35px;
    color:black;
    margin-top: 10px;

}
.login__button:hover{
    cursor:pointer;
}

.login__newAccount{
    width:100%;
    margin-top: 30px;
    background-color: white;
    border:1px solid ;
    border-radius: 6px;
    height: 30px;
}
.login__newAccount:hover{
    cursor:pointer;
    background-color: rgb(236, 236, 236);
}